<div class="row">
    <div class="col-6">
        <div class="mt-1 row">
            <div class="col-4">
                <b>Patient Id</b>
            </div>
            <div class="col-8">
                : <span id="cust_Id">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Type</b>
            </div>
            <div class="col-8">
                : <span id="cust_Type">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Patient Name</b>
            </div>
            <div class="col-8">
                : <span id="cust_Name">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Email Address</b>
            </div>
            <div class="col-8">
                : <span id="cust_Email">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Contact Number</b>
            </div>
            <div class="col-8">
                : <span id="cust_Mobile">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Contact Number 2</b>
            </div>
            <div class="col-8">
                : <span id="cust_Mobile_2">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Date Of Birth</b>
            </div>
            <div class="col-8">
                : <span id="cust_Dob">-</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="mt-1 row">
            <div class="col-2">
                <b>Age</b>
            </div>
            <div class="col-10">
                : <span id="cust_Age">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-2">
                <b>Gender</b>
            </div>
            <div class="col-10">
                : <span id="cust_Gender">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-2">
                <b>Address</b>
            </div>
            <div class="col-10">
                : <span id="cust_Address">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-2">
                <b>State</b>
            </div>
            <div class="col-10">
                : <span id="cust_State">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-2">
                <b>City</b>
            </div>
            <div class="col-10">
                : <span id="cust_City">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-2">
                <b>Area</b>
            </div>
            <div class="col-10">
                : <span id="cust_Area">-</span>
            </div>
        </div>
    </div>
    <h5 class="modal-title my-4" style="color:#4cb7e5;"><i class="ri-calendar-schedule-line ri-22px me-2"></i>Booking
        Details</h5>
    <div class="col-6">
        <div class="mt-1 row">
            <div class="col-4">
                <b>Booking Id</b>
            </div>
            <div class="col-8">
                : <span id="cust_BookingId">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>Start Date</b>
            </div>
            <div class="col-8">
                : <span id="cust_BookingStart">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-4">
                <b>End Date</b>
            </div>
            <div class="col-8">
                : <span id="cust_BookingEnd">-</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="mt-1 row">
            <div class="col-2">
                <b>Type</b>
            </div>
            <div class="col-10">
                : <span id="cust_BookingType">-</span>
            </div>
        </div>
        <div class="mt-1 row">
            <div class="col-2">
                <b>Total</b>
            </div>
            <div class="col-10">
                : <span id="cust_BookingTotal">-</span>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <table class="kt_datatable table table-row-bordered table-row-gray-300" style="margin-bottom: 0px!important">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Shift</th>
                    <th>Days/Qnt</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody id="cust_BookingData">
            </tbody>
        </table>
    </div>
</div>